body{
  width: 950px;
  margin: auto;

  
}
header{
  box-shadow: 0 0 10px 10px  gray;
  border-radius: 20px;
}
#img1{
  width: 950px;
  height: 500px;
  border-radius: 20px;
  
}
#navegador{
 background-color: gray;
 height: 60px;
  list-style-type: none;
   text-align: center;
background: url(../img/barra.png) ;
   border-radius: 20px;
   box-shadow: inset 15px 15px 20px  ;

}



}
#lado1{
  float: right;

}



#img5{
  width: 20px;
  height: 20px;
  margin-left: 50px;

}


#frm1{
  float: right;
  margin-top: 110px;

  width: 300px;
   
}


  
   
#cabecera{
  border: 2px solid;
  border-radius: 20px;
  background-color: gray;
background: url(../img/fondo.png) ;
  box-shadow: 2px 2px 3px 2px #C8FE2E;
}
#a1{
  margin-left: 20px;
}
#a2{
margin-right: : 40px;
}


li:hover {
  background: red;
  border-radius: 20px
 
}
li
{
  display: inline;
  margin-left: 40px;
  margin-right: 40px;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 nav ul  a {
  display: block;
  padding: 20px;
  color: #fff;
  
}

#pie2{
   position : ;
 
     height:60px;
background: -webkit-linear-gradient(90deg,purple 10%, orange 90%);
    
     text-align: center ;
     font-size: 15px ;
     width: 1000px;
     text-shadow: 2px;
padding-top: 20px;
box-shadow: 15px 15px 20px;


}
html{
  
  margin-left: 50px;
  margin-right: 50px;
background: url(../img/fondo.png) ;
background-position: center center;   
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
#tabla2{
  float: left;
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 100px;

}
h2{
  color: red;
}
h3{
  color: #33F6FF;
}
#img8{
  width: 500px;
  height: 200px;
  border-radius: 30px;
}

#img8:hover{
  
  -webkit-transition-duration:1s;
  box-shadow: 7px 7px 7px;
  width: 520px;
  height: 220px;
}
footer{
  background: -webkit-linear-gradient(90deg,purple 10%, orange 90%);
  height: 60px;
  margin-bottom: 30px;
  border-radius: 20px; 


}
p{
  color: white;
}
fieldset{
  border-radius: 20px;
    box-shadow: inset 0 0 15px 10px  #572364  ;


}
#img2{
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

#img2:hover{
    -webkit-transition-duration:1s;
  box-shadow: 7px 7px 7px red;
  width: 400px;
  height: 250px;
}
#img3{
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

#img3:hover{
    -webkit-transition-duration:1s;
  box-shadow: 7px 7px 7px red;
  width: 400px;
  height: 250px;
}
#img4{
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

#img4:hover{
    -webkit-transition-duration:1s;
  box-shadow: 7px 7px 7px red;
  width: 400px;
  height: 250px;
}
#tablaa{
  width: 1000px;
}
h2{
  color: 
#3396FF;
  font: oblique bold 120% cursive;

}
#amor{
  width: 243px;
  height: 200px;
}
#amor:hover {
   -webkit-transition-duration:1s;
  box-shadow: 7px 7px 7px red;
  width: 300px;
  height: 250px;
}
#pelea{
  width: 400px;
}
#www:hover{
   -webkit-transition-duration:0.5s;
  box-shadow: 7px 7px 7px red;
  width: 400px;
  height: 100px;
}
#www{
  padding-left: 100px;
}
h1{
  color: white;
}
#tabla11{
  width: 1000px;
}
#h11{
  color: green;
  padding-left: 400px;
  font: oblique bold 400% cursive;
}
#numero{
  padding-left: 400px;
    font: oblique bold 300% cursive;

}
#aa{
    padding-left: 470px;

}


#hola{
  color: red;
}